* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #2A3845;
  background: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Arial, sans-serif;
  line-height: 1.2;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.info {
  margin-top: 50px;
  padding: 20px 10px;  
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
  justify-items: center;
  grid-gap: 20px;
  border-bottom: 4px solid gray;
}

.telega-icon {
  background-image: url('../images/telegram-plane-brands.svg');
  background-repeat: no-repeat;
}

.skype-icon {
  background-image: url('../images/skype-brands.svg');
  background-repeat: no-repeat;
}

.linkedin-icon {
  background-image: url('../images/linkedin-brands.svg');
  background-repeat: no-repeat;
}

.photo {
  object-fit: cover;
  object-position: 0 40%;
  border-radius: 50%;
  border: 1px solid grey;
}

h1, h2 {
  color: rgb(39, 74, 107);
}

.contacts {
  justify-self: end;
  font-size: 19px;
}

.contacts ul {
  list-style: none;
}

.contacts ul li {
  padding-left: 25px;
}

.contacts ul :first-child, .contacts ul :nth-child(2) {
  padding-left: 0;
}

.contacts ul li a {
  text-decoration: none;
  color: #5e809b;
}

.grid-style {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
  padding: 10px;
  margin: 20px;
} 

.grid-style :first-child {
  grid-row: 1 / span 3;
}

.education-wrapper ul {
  list-style: none;
  display: none;
}

.education-wrapper ul li {
  line-height: 1.5;
  padding-bottom: 20px;
}

.education-wrapper::after {
  background: rgb(76, 76, 76);
  content: '';
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  grid-column: 1 / span 2;
  margin-top: 20px;
}

.place {
  text-transform: uppercase;
}

.specialization {
  font-style: italic
}

.year {
  font-weight: bold;
}

.expansion-panel-btn {
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  background-image: url('../images/chevron-down-solid.svg');
  background-repeat: no-repeat;
}

.expansion-panel-btn.up {
  background-image: url('../images/chevron-up-solid.svg');
}

.expansion-panel-btn:hover {
  cursor: pointer;
}

.projects {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
}

.projects > h2 {
  margin-left: 30px;
}
.swiper-container {
  width: 60%;
}

.swiper-slide {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.swiper-slide > a {
  display: block;
  height: 600px;
  margin: 0 auto;
}
.swiper-slide > a > img {
  object-fit: contain;
  height: 600px;
  max-width: 100%;
}
.description {
  margin: 10px auto;
  width: 80%;
  height: 90px;
  text-align: center;
}
.show-description {
  display: none;
}


@media (max-width: 1024px) {
  body {
    font-size: 18px;
  }
  .contacts {
    justify-self: center;
  }
}

@media (max-width: 414px) {
  .info {
    display: flex;
    flex-direction: column;
  }
  .contacts {
    padding: 20px;
  }
  .description {
    display: none;

  }
  .show-description {
    display: block;
    height: 50px;
    margin: 20px;
    border: 1px solid  #2A3845;
    font-size: 14px;
    color:  #2A3845;
    background: none;
  }
  .swiper-container > .swiper-button-next,.swiper-container > .swiper-button-prev {
    display: none;
  }
  .swiper-slide > a > img {
    height: auto;
  }
}