@font-face {
  font-family: 'FuturaDemic';
  src: url('../assets/fonts/FuturaDemic.ttf');
}

@font-face {
  font-family: 'FuturaBook';
  src: url('../assets/fonts/FuturaBookC.ttf');
}

@font-face {
  font-family: 'YesevaOne';
  src: url('../assets/fonts/YesevaOne-Regular.ttf');
}

@font-face {
  font-family: 'FuturaMediumC';
  src: url('../assets/fonts/FuturaMediumC.ttf');
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../assets/fonts/ProximaNova-Regular.ttf');
}
